@import 'style.css';

body {
  padding: 0;
}

tr {
  border-radius: var(--border-radius-dobro);
}

th {
  background-color: var(--cor-principal);
  color: #ffffff;
  text-transform: capitalize;
  font-size: var(--fonte-tamanho-padrao);
  font-weight: bolder;
}

td {
  text-align: center;
}

.header{
  margin: 0;
  height: 64px;
}
/* * {
  border: 1px solid black;
} */

.header .navbar{
  height: 64px;
}
.navbar {
  justify-content: center;
}

.admin {
  height: calc(100vh - 64px);
  background-color: var(--cor-secundaria);
  width: 100%;
}

.admin .admin__menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 250px;
}

.admin .admin__panel{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  background-color: var(--cor-bebe);
  padding: 50px 0;
}

.admin .admin__panel .panel__crud {
  margin-bottom: 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  width: 80%;
}

.crud-table {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.table__body {
  width: 80%;
  height: 60%;
}

.far {
  margin-right: 15px;
}


@media only screen and (min-width: 730px) {
  .admin {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--cor-secundaria);
    width: 100%;
  }

  .admin .admin__menu{
    display: flex;
    
  }
}