@import 'style.css';

body {
  padding: 0;
}

table {
  border-spacing: 5px;
}

tr {
  border-radius: var(--border-radius-dobro);
}

tr:nth-child(even){
  background-color: var(--cor-clara);
}

th {
  background-color: var(--cor-principal);
  color: #ffffff;
  text-transform: capitalize;
  font-size: var(--fonte-tamanho-padrao);
  font-weight: bolder;
  padding: var(--padding-padrao) 0;
}

td {
  text-align: center;
  background-color: var(--cor-diluida);
  border-radius: var(--border-radius-padrao);
}

.header {
  margin: 0;
  height: 64px;
}

* {
  border: 1px solid black;
}

.header .navbar {
  height: 64px;
}

.navbar {
  justify-content: center;
}

.admin {
  min-height: calc(100vh - 64px);
  width: 100%;
}

.admin .admin__menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  width: 250px;
}

.admin__mobile-menu {
  height: 50px;
}
.admin .admin__panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  background-color: var(--cor-bebe);
  padding: 50px 0;
  height: 100%;
}

.admin .admin__panel .panel__crud {
  margin-bottom: 25px;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  width: 80%;
}

.table {
  overflow-x: auto;
  width: 90vw;
}
.crud-table {
  /* padding: 50px; */
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 64px - 50px);
}

.table__title {
  position: relative;
  color: #ffffff;
  background-color: var(--cor-destaque);
  padding: 10px 20px;
  border-radius: var(--border-radius-padrao);
  max-width: 400px;
}

.table__body {
  width: 100%;
  background-color: var(--cor-secundaria);
  padding: 30px var(--padding-padrao);
  border-radius: var(--border-radius-dobro);
  margin: 10px;
}

#phrases, #videos, #mantras, #classes, #articles, #podcasts, #date, #likes, #actions {
  font-size: var(--padding-dobro);
  border-radius: var(--border-radius-padrao);
}

.fa {
  margin: 15px 0;
}

fa-bars {
  font-size: 100px;
}

.fa-plus-circle {
  color: var(--cor-destaque);
  align-self: flex-end;
  font-size: 40px;
  /* margin: 20px; */
}

.fa-heart {
  color: red
}

@media only screen and (min-width: 730px) {
  .admin {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
  .admin .admin__menu {
    display: flex;
  }
  .fa-eye, .fa-edit {
    margin-right: 15px;
    font-size: 25px;
  }
  .fa-plus-circle {
    font-size: 70px;
    position: absolute;
    right: 10px;
    top: 50px;
  }
  .admin__mobile-menu {
    display: none;
  }
 
  
}