:root {
  --cor-principal: #3f51b5;
  --cor-secundaria: #c3d1f1;
  --cor-destaque: #278ba9;
  --cor-clara: #d2ddf5;
  --cor-bebe: #e1e8f8;
  --cor-diluida: #f0f4fc;
  --cor-base: #070707;
  --fonte-padrao: "Rubik", "Nunito", "Ubunto", "Lucida Sans", sans serif;
  --fontse-tamanho-padrao: 16px;
  --padding-padrao: 16px;
  --padding-metade: calc(var(--padding-padrao) / 2);
  --padding-dobro: calc(var(--padding-padrao) * 2);
  --border-radius-padrao: 10px;
  --border-radius-metade: calc(var(--padding-padrao) / 2);
  --border-radius-dobro: calc(var(--padding-padrao) * 2);
  --sombra-principal: drop-shadow(2px 2px 3px rgb(63 81 181 / 0.4));
  --sombra-fina: drob-shadow(2px 2px 1px rgb(63 81 181 / 0.3));
}

*,
*::after,
*::before,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--cor-diluida);
  font-family: var(--fonte-padrao);
  font-size: var(--fonte-tamanho-padrao);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navbar__logo {
  height: 31px;
  width: 200px;
}

.navbar__menu {
  align-items: center;
  display: flex;
  flex: 1 1 calc(100% - 264px);
  flex-flow: row nowrap;
  justify-content: flex-end;
  color: var(--cor-principal);
}

.navbar__menu .menu__item {
  color: var(--cor-principal);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: var(--padding-metade) 0 var(--padding-metade) var(--padding-padrao);
  transition: filter 0.6s ease-in-out, text-decoration 0.6 ease-in-out;
}

.navbar__menu .menu__item a:not(.btn):hover,
.navbar_menu .menu__item a:not(.navbar__logo):hover {
  filter: var(--sombra-fina);
  text-decoration: 2px solid underline;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--cor-principal);
  list-style-type: none;
}

.header {
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: var(--padding-padrao);
  position: sticky;
  top: 0;
  z-index: 3;
}

.header__navbar {
  height: 80px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 17rem;
  background: var(--cor-secundaria);
  border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: var(--cor-principal);
  color: #f0f4fc;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #f0f4fc;
  background-color: var(--cor-secundaria);
  border-radius: 50%;
  box-shadow: var(--sombra-principal);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #f0f4fc;
  box-shadow: var(--sombra-principal);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
  color: var(--cor-principal);
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: var(--cor-principal);
  font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: var(--sombra-principal);
  background-color: var(--cor-clara);
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
  position: absolute;
  right: calc(0px - 50px - 1rem);
  top: 0;
  display: flex;
  flex-direction: column;
}

.seccion-perfil-usuario .boton-redes {
  border: 0;
  background-color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  box-shadow: var(--sombra-principal);
  font-size: 1.3rem;
}

.seccion-perfil-usuario {
  margin-top: 0.5rem;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }

  .seccion-perfil-usuario {
    position: relative;
    flex-direction: row;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  .seccion-perfil-usuario {
    margin-left: 1rem;
    margin-top: 0;
  }
}
