@import url("style.css");

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  border: none;

}

body {

  padding-top: 5vh;
  background-size: cover;
  background-position-y: -150px;

}

main {
  text-align: center;
  width: 100%;
  margin: 0px 0;
}

form {

  display: inline-block;
  width: 300px;

}

form label {
  display:block;
  font-size: 20px;
}

form input {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;
}

#formulario {

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 25px;
  background-color: var(--cor-diluida);

}

#formulario h1 {

  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;

}

label {

  font-weight: bold;
  font-size: .8rem;

}

input {

  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;

}

input:focus {

  border-color: #E60084;

}