:root {
  --cor-principal: #3f51b5;
  --cor-secundaria: #c3d1f1;
  --clara: #d2ddf5;
  --bebe: #e1e8f8;
  --diluida: #f0f4fc;
  --base: #f7f9fe;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  background-color: var(--cor-secundaria);
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  padding: 50px;
}

.categoria {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 70px 90px;

}

.categoria-img {
  height: 80px;
  width: 80px;
}
body {
  margin: 0 auto;
  width: 980px;
    
}
.principal{
    border: solid 5px #e4e4e4;
    padding: 0 35px;
}
.navbar{
    height: 45px;
    display: flex;
}
.img-logo{
    width: 300px;
}
.menu{
    display: flex;
    width: 320px;      
    justify-content: space-around;
    list-style-type: none;
}
.menu li a{
    color:#3f51b5;
    text-decoration: none;
}
.connect{
    width: 315px;
    display: flex;
    flex-direction: row-reverse;
}
.connect p{
    width: 65px;
    height: 20px;
    background-color:#3f51b5;
    text-align: center;
    border-radius: 10px;
}
.connect p a{
    color: white;
    text-decoration: none;
}
.banner{
    height: 500px;
    background-image: url("../img/opoderdayoga2.png");
    background-repeat: no-repeat;
    
    
}