<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-12">
        <p>© Copyright 2021 - MeditaOn.</p>
      </div>
      <div class="col-lg-6 col-md-8 col-12">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Meditação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mantras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yoga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Om</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Refletir</a>
          </li>
        </ul>
      </div>
    </div>
</div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</html>