<header class="">
  <a id="logoTopo" href="/" title="Ir para homepage">
    <img src="/images/logo.png" alt="Jeff Co." width="136" height="36">
  </a>
  <% if(locals.usuarioLogado && locals.usuarioLogado.admin) { %>
  <nav class="nav nav--admin">
    <ul class="nav__list">
      <li class="nav__item bg-secondary">
        <a class="nav__link" href="/admin/produtos" title="Acesse a página administrativa de produtos"><span class="light">Gestão Produtos</span></a>
      </li>
      <li class="nav__item bg-secondary">
        <a class="nav__link" href="/admin/usuarios" title="Acesse a página administrativa de usuários"><span class="light">Gestão Usuários</span></a>
      </li>
    </ul>
  </nav>
  <% } %>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item desktop-only">
        <a class="nav__link" href="/" title="Acesse a página inicial">Início</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/produtos" title="Acesse a página de produtos">Produtos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/usuarios" title="Acesse a página de usuários">Usuários</a>
      </li>
      <% if(!locals.usuarioLogado) { %>
      <li class="nav__item">
        <a class="nav__link" href="/acesso/cadastro" title="Cadastre-se">Cadastro</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/acesso/login" title="Login">Login</a>
      </li>
      <% } else { %>
      <li class="nav__item">
        <a href="/acesso/cadastro" class="nav__link">Olá, <%= usuarioLogado.nome %></a>
      </li>
      <li class="nav__item">
        <a href="/acesso/cadastro" class="nav__link">
          <% if(!usuarioLogado.avatar) { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
          </svg>
          <% } else { %>
          <img class="rounded" src="<%= usuarioLogado.avatar %>" alt="Avatar de <%= usuarioLogado.nome %> <%= usuarioLogado.sobrenome %>" width="24" height="24">
          <% } %>
        </a>
      </li>
      <li class="nav__item">
        <a href="/acesso/logout" class="nav__link">Sair</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <button class="close-menu btn btn--secondary" id="closeMenu" onclick="document.querySelector('header').classList.toggle('active')">X</button>
</header>
<button class="open-menu btn btn--secondary" id="openMenu" onclick="document.querySelector('header').classList.toggle('active')">+</button>