<header>
  <nav class="header navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" title="Acessar pagina inicial" >
        <img class="logo" src="img/logo-meditaon.png" alt="Logo Meditaon" width="150" height="auto" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
          <a class="nav-link header" aria-current="page" href="#">Meditação</a>
          <a class="nav-link header" href="#">Mantras</a>
          <a class="nav-link header" href="#">Yoga</a>
          <a class="nav-link header" href="#">Om</a>
          <a class="nav-link header" href="#">Refletir</a>
          <a class="btn-header mobile" href="/login">Conectar</a>
        </div>
      </div>
      <div class="btn-connect justify-content-end">
        <div class="navbar-nav">
          <a class="btn-header" href="/login">Conectar</a>
        </div>
      </div>
    </div>
  </nav>
</header>
