/* BORDER RADIUS */
.rounded {
  border-radius: var(--border-radius-50);
}
/* FLEX BOX */
.flex-item--empty {
  height: 0;
  max-height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.flex-item-full-row {
  flex:1 0 100%;
}

[data-corpreferida*="#"] {
  color: var(--cor-preferida);
  font-weight: bold;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-only {
    display: initial;
  }
}