body:not(.admin) .nav--admin {
  display: none;
}

.nav .nav__list {
  margin-top: var(--spacing-double);
}

.nav .nav__list .nav__item {
  padding: var(--spacing-half) 0;
}

.nav .nav__list .nav__item a.nav__link {
  color: var(--tertiary);
  fill: var(--tertiary);
  text-decoration: none;
}

.nav .nav__list .nav__item:hover a.nav__link,
.nav .nav__list .nav__item:hover a.nav__link svg,
.nav .nav__list .nav__item a.nav__link:hover,
.nav .nav__list .nav__item a.nav__link:hover svg {
  color: var(--tertiary-light);
  fill: var(--tertiary-light);
  text-decoration: underline;
}

.nav .nav__list .nav__item a.nav__link:active {
  color: var(--tertiary-dark);
  text-decoration: underline;
}

.nav--admin.nav {
  order: 2;
}

.nav--admin.nav .nav__list .nav__item {
  margin: var(--spacing-half) auto var(--spacing-half) 0;
}

.nav--admin.nav .nav__list .nav__item a.nav__link span {
  padding: var(--spacing-third) var(--spacing);
}

header {
  transition: left .8s ease-in-out;
}

header.active+main *,
header.active+aside *,
header.active+footer * {
  pointer-events: none;
}

#openMenu.open-menu {
  position: fixed;
  left: var(--spacing-quarter);
  margin: var(--spacing-quarter);
  top: var(--spacing-quarter);
  z-index: 1;
}

header.active #openMenu.open-menu {
  display: none;
}

header #closeMenu.close-menu {
  position: fixed;
  right: var(--spacing-quarter);
  margin: var(--spacing-quarter);
  opacity: 1;
  top: var(--spacing-quarter);
  transition: opacity .8s .8s ease-in;
  z-index: 2;
}

header:not(.active) #closeMenu.close-menu {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s .8s ease-in;
  visibility: hidden;
  width: 0;
  /* z-index: -1; */
}

header.active #closeMenu.close-menu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .8s .8s ease-in;
  visibility: visible;
  /* z-index: 2; */
}

@media only screen and (min-width: 640px) {
  .nav .nav__list {
    margin-top: auto;
  }

  .nav .nav__list .nav__item {
    padding: var(--spacing-half);
  }

  .nav--admin.nav {
    order: 0;
  }

  .nav--admin.nav .nav__list .nav__item {
    margin: auto var(--spacing-half);
    padding: var(--spacing-third) var(--spacing);
  }


  header.active+main *,
  header.active+aside *,
  header.active+footer * {
    pointer-events: auto;
  }

  #openMenu,
  #closeMenu {
    display: none;
  }

}