:root {
  --spacing: 16px;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-quadruple: calc(var(--spacing) * 4);
}