<%- include('./partials/head') %> <%- include('./partials/header') %>
<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img src="/img/pic-1.png" alt="img-avatar" />
      </div>
      <button type="button" class="boton-portada">Cambiar fondo</button>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <h3 class="titulo">Alicia Da Silva</h3>
      <p class="texto">
        Quando você quer alguma coisa, todo o universo conspira para que você
        realize o seu desejo.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="contatoperfil">
      <div class="meucontato"></div>
      <h4>Meus dados</h4>
      <input type="text" class="campo" placeholder="Nome" />
      <input type="text" class="campo" placeholder="Sobrenome" />
      <input type="text" class="campo" placeholder="Aniversário" />
      <input type="text" class="campo" placeholder=" Email" />
      <input type="text" class="campo" placeholder="Senha" />
      <button class="btn">Enviar</button>
    </div>
  </div>
</section>
<%- include('./partials/footer') %>
