<%- include('./partials/head') %> <%- include('./partials/header') %>
   
    <section class="features" id="features">
      <h4 class="tituloevento">Eventos</h1>

         <div class="box-container">
            <div class="box">
              <img src="img/jornadaamor.jpeg" alt="" />
              <h3>Jornada Amor Próprio 2021
             </h3>
              <p>Evento Online</p>
              <a href="#" class="btn">Comprar agora</a>
            </div>
               <div class="box">
            
                 
                 <p>Descrição do evento</p>
                 <p> Você sabe cuidar de si mesmo? Amor próprio é levar em conta seus sentimentos em suas decisões. Você sabe colocar limites nos seus relacionamentos? Você se aceita como é ou tem medo de não agradar?</p>
                 <p>  Reconecte-se com o que te faz feliz!</p>

                 <p>Dia: 25/02</p>
                 <p>Hora: 12h às 16h</p>

               </div>
</section>

<%- include('./partials/footer') %>
