<%- include('./partials/head') %> <%- include('./partials/header') %>


    <section class="features" id="features">
      <h4 class="tituloevento">Eventos</h1>

      <div class="box-container">
        <div class="box">
          <img src="img/feature-img-1.png" alt="" />
          <h3>Palestras</h3>
          <p>O que penso, como sou</p>
          <a href="#" class="btn">Ver mais</a>
        </div>
 
        <div class="box">
          <img src="img/feature-img-2.png" alt="" />
          <h3>Corpo</h3>
          <p>O meu corpo é maravilhoso, eu cuido dele</p>
          <a href="#" class="btn">Ver mais</a>
        </div>

        <div class="box">
          <img src="img/feature-img-3.png" alt="" />
          <h3>Espiritu</h3>
          <p>Alma tranquila</p>
          <a href="#" class="btn">Ver mais</a>
        </div>
      </div>
    </section>

    <!-- palavra do dia -->

    <section class="review" id="review">
      <h1 class="heading">A minha frase do dia</h1>

      <div class="swiper review-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide box">
            <img src="img/pic-1.png" alt="" />
            <p>
              "Às vezes as coisas demoram, mas acontecem. O importante é saber
              esperar e não perder a fé!"
            </p>
          </div>
        </div>
      </div>
    </section>
  <!-- palavra do dia -->
  
  <%- include('./partials/footer') %>
