<!DOCTYPE html>

    <html lang="pt-br">

        <head>

            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Cadastro</title>
            <link rel="stylesheet" href="../css/styleCadastro.css">
            
        </head>

        <body>

            <header class="header">

                <nav class="header__navbar navbar">
                    
                    <a class="navbar__logo" href="../index.html" title="Acessar pagina inicial" >

                        <img src="../img/logo-meditaon.png" alt="Logo Meditaon" width="200" height="31"/>

                    </a>

                    <ul class="navbar__menu">

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Meditação">Meditação</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Mantras">Mantras</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Yoga">Yoga</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Om">Om</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Refletir</a>

                        </li>
                        
                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Cadastro</a>

                        </li>

                        <li class="menu__item">

                            <a href="login.html" title="conecte-se ao MeditaOn" class="btn">conectar</a>

                        </li>

                    </ul>

                </nav>

            </header>

            <main>

                <section id="formulario">

                    <h1>Faça o seu cadastro</h1>

                     <form action="/register/cadastrar/" method="POST"> 

                         <div>

                            <label for="email">E-mail</label>
                            <input type="email" name="email" id = "email" placeholder="Digite seu e-mail" data-email-validate>

                        </div>

                        <div>

                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id = "nome" placeholder="Digite seu nome" data-max-length="16">

                        </div>

                        <div>

                            <label for="sobreNome">Sobrenome</label>
                            <input type="text" name="sobrenome" id = "sobrenome" placeholder="Digite seu sobrenome">

                        </div>

                        <div>

                            <label for="dataNascimento">Data de nascimento</label>
                            <input type="date" name="dataNascimento" id = "dataNascimento" min = "1930-01-01">

                        </div>

                        <div>

                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id = "senha" placeholder="Digite sua senha">

                        </div>

                        <div>

                            <label for="confirmaSenha">Confirmação de senha</label>
                            <input type="password" name="confirmaSenha" id = "confirmaSenha" placeholder="Confirme a senha" data-equal="password">

                        </div>

                        <div>

                            <input class="btn" type="submit" value="Registrar">

                        </div>

                    </form>

                </section>

            </main>

            <footer>

                <nav class="footer__navbar navbar">

                    <a class="navbar__logo" href="../index.html" title="Acessar página inicial" >

                        <img src="../img/logo-meditaon.png" alt="Logo Meditaon" width="200" height="31"/>

                    </a>

                    <ul class="navbar__menu">

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Meditação">Meditação</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre yoga">Yoga</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre om">Om</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre refletir">Refletir</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Cadastro</a>

                        </li>

                    </ul>

                </nav>

            </footer>

        </body>

    </html>
