
<%- include('./partials/head') %>
<%- include('./partials/header') %>

            <main>
                <section id="formulario">
                    <h1>Faça o seu cadastro</h1>
                    <% if(locals.message) { %>
                        <div class="alert alert-<% if(locals.error) { %>danger<% } else { %>success<% } %>" role="alert">
                        <%= message %>
                        </div>
                    <% } %>
                     <form action="/register" method="POST"> 

                         <div>

                            <label for="email">E-mail</label>
                            <input type="email" name="email" id = "email" placeholder="Digite seu e-mail" data-email-validate>

                        </div>

                        <div>

                            <label for="nome">Nome</label>
                            <input type="text" name="frist_name" id = "nome" placeholder="Digite seu nome" data-max-length="16">

                        </div>

                        <div>

                            <label for="sobreNome">Sobrenome</label>
                            <input type="text" name="last_name" id = "sobrenome" placeholder="Digite seu sobrenome">

                        </div>

                        <div>

                            <label for="dataNascimento">Data de nascimento</label>
                            <input type="date" name="birth" id = "dataNascimento" min = "1930-01-01">

                        </div>

                        <div>

                            <label for="senha">Senha</label>
                            <input type="password" name="password" id = "senha" placeholder="Digite sua senha">

                        </div>

                        <div>

                            <input class="btn" type="submit" value="Registrar">

                        </div>

                    </form>

                </section>

            </main>
            <%- include('./partials/footer') %>
            
