@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("styleCadastro.css");
@import url("styleLogin.css");

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;

}

:root {
  --cor-primary: #3f51b5;
  --cor-secondary: #c3d1f1;
  --cor-destaque: #278ba9;
  --cor-clara: #02050a;
  --cor-bebe: #e1e8f8;
  --cor-diluida: #f0f4fc;
  --cor-base: #f7f9fe;
  --font-family: "Poppins", sans-serif;
  --fontse-tamanho-padrao: 16px;
  --padding-padrao: 16px;
  --padding-metade: calc(var(--padding-padrao) / 2);
  --padding-dobro: calc(var(--padding-padrao) * 2);
  --border-radius-padrao: 10px;
  --border-radius-metade: calc(var(--padding-padrao) / 2);
  --border-radius-dobro: calc(var(--padding-padrao) * 2);
  --sombra-primary: drop-shadow(2px 2px 3px rgb(63 81 181 / 0.4));
  --sombra-fina: drob-shadow(2px 2px 1px rgb(63 81 181 / 0.3));
}

*,
*::after,
*::before,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Geral (tags HTML) */
body {
  box-sizing: border-box;
  font-family: var(--font-family) !important;
  transition: all 0.5s;
}

main {
  min-height: 80vh;
}

header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 9;
  font-family: var(--font-family);
}

nav.header.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background: transparent !important;
  height: 70px;
}

a.nav-link {
  padding: 0 1.5rem !important;
  font-size: 14px;
  color: var(--cor-primary) !important;
}
a.nav-link:hover {
  color: var(--cor-secondary) !important;
}

a.nav-link.register {
  display: flex;
  align-items: center;
}

.btn-header {
  background-color: var(--cor-primary);
  color: #ffffff;
  font-size: 14px;
  border-radius: 30px;
  padding: 8px 28px;
  transition: all 0.5s;
}

a.btn-header.mobile {
  display: none;
}

.btn-header:hover {
  color: var(--cor-primary);
  background-color: var(--cor-secondary);
}

img.logo {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: filter 0.6s ease-in-out, text-decoration 0.6s ease-in-out,
    color 0.6s ease-in-out;
}

a:hover {
  color: var(--cor-destaque);
  /* filter: var(--sombra-primary); */
  text-decoration: underline solid var(--cor-destaque) 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

input {
  border-radius: var(--border-radius-padrao);
  border: none;
  color: var(--cor-primary);
  font-weight: bolder;
  margin: 0 var(--padding-padrao);
  padding: var(--padding-metade) var(--padding-padrao);
}

input::placeholder {
  color: var(--cor-secondary);
}

/* Gerais (classes) */
.btn {
  background-color: var(--cor-primary) !important;
  border: none !important;
  color: #fff !important;
  cursor: pointer !important;
  padding: var(--padding-metade) var(--padding-padrao) !important;
  transition: background-color 0.6s ease-in-out, border-radius 0.6s ease-in-out !important;
}

.btn:hover {
  background-color: var(--cor-destaque) !important;
  color: #fff;
}

/* Navbar (classes)*/
.navbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navbar__menu {
  align-items: center;
  display: flex;
  flex: 1 1 calc(100% - 264px);
  flex-flow: row nowrap;
  justify-content: flex-end;
  color: var(--cor-principal);
}

.navbar__menu .menu__item {
  color: var(--cor-primary);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: var(--padding-metade) 0 var(--padding-metade) var(--padding-padrao);
  transition: filter 0.6s ease-in-out, text-decoration 0.6 ease-in-out;
}

.navbar__menu .menu__item a:not(.btn):hover,
.navbar_menu .menu__item a:not(.navbar__logo):hover {
  filter: var(--sombra-fina);
  text-decoration: 2px solid underline;
}

/* banner */

.banner__one,
.banner__two,
.banner__three {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.bannerOne__content,
.bannerTwo__content,
.bannerThree__content {
  position: absolute;
  order: 1;
  padding-left: 6rem;
  color: #ffffff;
}

.bannerOne__content h3 {
  font-size: 4rem;
  margin: 0;
}

.bannerTwo__content h3,
.bannerThree__content h3 {
  font-size: 2rem;
  margin: 0;
}

.bannerOne__content p {
  font-size: 2rem;
  margin: 0;
}

.bannerTwo__content p,
.bannerThree__content p {
  font-size: 1rem;
  margin: 0;
}

.bannerOne__content a,
.bannerTwo__content a,
.bannerThree__content a {
  color: var(--cor-destaque);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 2rem;
  float: left;
  transition: all 0.5s;
}

.bannerOne__content a:hover,
.bannerTwo__content a:hover,
.bannerThree__content a:hover {
  color: #ffffff;
  background: var(--cor-destaque);
}

.banners {
  margin-bottom: 3rem;
}

/* perfil */

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 17rem;
  background: var(--cor-secondary);
  border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: var(--cor-secondary);
  color: #f0f4fc;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #f0f4fc;
  background-color: var(--cor-secondary);
  border-radius: 50%;
  box-shadow: var(--sombra-principal);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #f0f4fc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
  color: var(--cor-secondary);
}

.seccion-perfil-usuario .perfil-usuario-body {
  color: var(--cor-secondary);
  font-size: 0.95em;
}

.tituloh4 {
  color: var(--cor-primary);
  font-size: 2em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  background-color: var(--cor-primary);
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.seccion-perfil-usuario {
  margin-top: 0.5rem;
}


.campo {
  width: 100%;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 22px;
}

/* footer */

footer {
  background: var(--cor-bebe);
}

footer p {
  font-size: 12px;
  color: var(--cor-primary);
  line-height: 85px;
}

footer p {
  font-size: 12px;
  color: var(--cor-primary);
  line-height: 65px;
  padding: 0;
  margin: 0;
}

footer .nav {
  line-height: 65px;
  font-size: 12px;
  flex-wrap: nowrap;
}

.footer {
  align-items: stretch;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: var(--padding-padrao);
}

.search {
  align-items: center;
  background-image: url(../img/elementos-web-17.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
  justify-content: center;
}

.search .search__form {
  background-color: var(--cor-secondary);
  border-radius: var(--border-radius-padrao);
  display: flex;
  filter: var(--sombra-primary);
  flex: 0 1 75%;
  flex-flow: row wrap;
  max-width: 720px;
  padding: var(--padding-dobro);
}

.search .search__form label {
  color: var(--cor-primary);
  font-weight: bold;
  font-size: 1.33rem;
}

.search .search__form input {
  flex: 1 1 auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.search .search__form button.btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--cor-bebe);
  border-radius: var(--border-radius-dobro);
  justify-content: space-around;
  margin: 64px 0;
  padding: var(--padding-dobro);
  align-items: stretch;
}

.categories .category {
  background-color: #ffffff;
  display: flex;
  border-radius: var(--border-radius-padrao);
  color: var(--cor-primary);
  margin: 16px;
  text-align: center;
  justify-content: flex-start;
  padding: var(--padding-padrao);
  flex-flow: column nowrap;
  align-items: center;
  min-height: 320px;
}

.categories .category .category__link {
  width: 100%;
}
.categories .category .category__img-container {
  display: flex;
  background-color: var(--cor-diluida);
  justify-items: center;
  flex-flow: column nowrap;
  padding: var(--padding-metade);
  align-items: center;
  border-radius: var(--border-radius-padrao);
}

.categories .category .category__img-container .category__img {
  max-width: 100%;
  max-height: 100%;
  transition: filter 0.6s ease-in-out;
  width: auto;
  height: auto;
}

.categories .category .category__img-container:hover .categoy__img {
  filter: var(--sombra-prinicpal);
}

.categories .category .category__content {
  padding: var(--padding-metade) 0 0;
}

.entries {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 64px 0;
  align-items: center;
}

.entries .entry {
  display: flex;
  color: var(--cor-primary);
  margin: 16px;
  text-align: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;
}

.entries .entry__link {
  width: 80%;
  border-radius: var(--border-radius-dobro);
}

.entries .entry .entry__img-container {
  background-color: var(--cor-bebe);
  display: flex;
  justify-items: center;
  flex-flow: column nowrap;
  padding: var(--padding-metade);
  align-items: center;
  border-radius: var(--border-radius-dobro);
  margin: 16px 0;
}

.entries .entry .entry__img-container .entry__img {
  max-width: 100%;
  max-height: 100%;
  transition: filter 0.6s ease-in-out;
  width: auto;
  height: auto;
}

.entries .entry .entry__img-container .entry__img:hover {
  filter: var(--sombra-prinicpal);
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 991px) {
  footer p,
  footer .nav {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .bannerOne__content h3 {
    font-size: 2rem;
    margin: 0;
  }
  .bannerOne__content p {
    font-size: 1rem;
    margin: 0;
  }

  .bannerOne__content,
  .bannerTwo__content,
  .bannerThree__content {
    padding-left: 3rem;
  }

  .bannerOne__content a,
  .bannerTwo__content a,
  .bannerThree__content a {
    margin-top: 10px;
  }

  .btn-connect {
    display: none;
  }

  #navbarNavAltMarkup {
    background: #ffffff;
  }

  a.nav-link.header {
    padding: 20px !important;
    font-size: 26px;
  }

  header {
    opacity: 1;
  }

  a.btn-header.mobile {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 14px;
    font-size: 26px;
  }

  .categories {
    display: flex;
    flex-flow: row nowrap;
  }
  .entries {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .btn-connect {
    display: none;
  }

  .search .search__form input {
    width: 70%;
  }

  .search .search__form button.btn {
    width: 30%;
  }

  div {
    color: blue;
  }
}
