* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    border: none;
  
  }
  
  /* body {
  
    padding-top: 5vh;
    background-size: cover;
    background-position-y: -150px;
  
  } */
  
  /* main {
  
    text-align: center;
    width: 100%;
    margin: 0px 0;
    justify-content: center;
    align-items: center;
  
  } */
  
  /* form {
  
    display: inline-block;
    width: 300px;
  
  } */
  
  form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
  }
  
  #dados {
  
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-diluida);
    box-shadow: 5px 10px 20px var(--cor-primary);
  
  }
  
  #dados h1 {
  
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
    color: var(--cor-primary);
  
  }
  
  
  input {
  
    border-bottom: 2px solid var(--cor-primary);
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
  
  }
  
  input::placeholder{
  
    color: var(--cor-secondary);
    text-align: center;
  
  }

  footer {

    margin-top: 50px;
  
  }footer {

  margin-top: 50px;

}