<!DOCTYPE html>

    <html lang="pt-br">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/styleEsqueceuSenha.css">
            <title>Recuperação de senha</title>

        </head>

        <body>
            
            <header>

                <a href="../index.html">

                    <img class="home" src="../img/logo-meditaon.png">

                </a>

            </header>

            <main>

                <section id = "fundoRecuperaSenha">

                    <h1 id = "titulo">Alterar Senha</h1>

                    <form>

                        <div>

                            <input type="password" name="senha" id = "senha" placeholder="Digite a nova senha">

                        </div>

                        <div>

                            <input type="password" name="confirmaSenha" id = "confirmaSenha" placeholder="Confirme a senha" data-equal="password">

                        </div>

                        <div>

                            <a href="login.html">

                                <input class="btn" type="submit" value="Alterar">

                            </a>

                        </div>

                    </form>

                </section>

            </main>

        </body>

    </html>