<!DOCTYPE html>

    <html lang="pt-br">

        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Cadastro</title>
            <link rel="stylesheet" href="../css/styleCadastro.css">
        </head>

        <body>

            <header class="header">

                <nav class="header__navbar navbar">
                    
                    <a class="navbar__logo" href="../index.html" title="Acessar pagina inicial" >

                        <img src="../img/logo-meditaon.png" alt="Logo Meditaon" width="200" height="31"/>

                    </a>

                    <ul class="navbar__menu">

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Meditação">Meditação</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Mantras">Mantras</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Yoga">Yoga</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Om">Om</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Refletir</a>

                        </li>
                        
                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Cadastro</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="conecte-se ao MeditaOn" class="btn">conectar</a>

                        </li>

                    </ul>

                </nav>

            </header>

            <main id = "main-cadastro">
                
                <h1>Faça o seu cadastro</h1>

                <form>
                    
                    <div class="full-box">

                        <label for="email">E-mail</label>

                        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                        
                    </div>

                    <div class="half-box spacing">

                        <label for="name">Nome</label>

                        <input type="text" name="name" id="name" placeholder="Digite seu nome">

                    </div>

                    <div class="half-box">

                        <label for="lastname">Sobrenome</label>

                        <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome">

                    </div>

                    <div class="half-box spacing">

                      <label for="lastname">Senha</label>

                      <input type="password" name="password" id="password" placeholder="Digite sua senha">

                    </div>

                    <div class="half-box">

                      <label for="passconfirmation">Confirmação de senha</label>

                      <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Digite novamente sua senha">

                    </div>

                    <div class="full-box">

                      <input id="btn-submit" type="submit" value="Registrar">

                    </div>
                    
                </form>

            </main>

            <footer>

                <nav class="footer__navbar navbar">

                    <a class="navbar__logo" href="../index.html" title="Acessar página inicial" >

                        <img src="../img/logo-meditaon.png" alt="Logo Meditaon" width="200" height="31"/>

                    </a>

                    <ul class="navbar__menu">

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Meditação">Meditação</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre yoga">Yoga</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre om">Om</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre refletir">Refletir</a>

                        </li>

                        <li class="menu__item">

                            <a href="#" title="Ver mais sobre Refletir">Cadastro</a>

                        </li>

                    </ul>

                </nav>

            </footer>

        </body>

    </html>