<!DOCTYPE html>

    <html lang="pt-br">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/styleLogin.css">
            <title>Login</title>

        </head>

        <body>
            
            <header>

                <a href="../index.html">

                    <img class="home" src="../img/logo-meditaon.png">

                </a>

            </header>

            <main>

                <section id = "login">

                    <h1 id = "titulo">Login</h1>

                    <form>

                        <div>

                            <input type="email" name="email" id = "email" placeholder="E-mail" data-email-validate>

                        </div>

                        <div>

                            <input type="password" name="senha" id = "senha" placeholder="Senha">

                        </div>

                        <div>

                            <input class="btn" type="submit" value="Entrar">

                        </div>

                        <div>

                            <p><a class = "opcoes" href="cadastro.html">Cadastre-se</a></p>
                            <p><a class = "opcoes" href="validacaoEmail.html">Esqueceu sua senha?</a></p>

                        </div>

                    </form>

                </section>

            </main>

        </body>

    </html>