<!DOCTYPE html>

    <html lang="pt-br">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/styleEsqueceuSenha.css">
            <title>Recuperação de senha</title>

        </head>

        <body>
            
            <header>

                <a href="../index.html">

                    <img class="home" src="../img/logo-meditaon.png">

                </a>

            </header>

            <main>

                <section id = "fundoRecuperaSenha">

                    <h1 id = "titulo">Recuperação de senha</h1>

                    <form>

                        <div>

                            <p>Digite o e-mail cadastrado, iremos enviar uma sequencia de 4 numeros em sua caixa de e-mail</p>

                        </div>

                        <div>

                            <input type="email" name="email" id = "email" placeholder="E-mail" data-email-validate>

                        </div>

                        <div>

                            <a href="alterarSenha.html">

                                <input class="btn" type="submit" value="Enviar">

                            </a>

                        </div>

                    </form>

                </section>

            </main>

        </body>

    </html>